/*Se establece valores para el documento en general sin padding, bordes y margenes.*/
*{
	font-family: Tahoma, Arial;
	padding: 0;
	border: 0;
	margin:0;
}

/*Se establece un color de fondo para todo el cuerpo del documento*/
body{
	background-color: #B3B3B3;
}

/*Se establece los valores para el encabezado,*/
header{
	background-color: black;
	display: block;
	color: #FF6C14;
	text-align: center;
	padding: 15px;
	height: 80px;
	position: fixed;
	width: 100%;
	z-index: 1;
	opacity: 0.9;
}

/*Se establece el estilo para el nav que este caso es una barra de navegación*/
nav{
	display: flex;
	justify-content: center;
	align-items: center;
	top: 80px;
	width: 100%;
	height: 53px;
	background-color: #3D3C3C;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	display: block;
	position: fixed;
	z-index: 1;
	opacity: 0.9;
	box-sizing: border-box;
}

nav li a{
	text-decoration:none;
}
nav ul li{
	display: inline-block;
	padding: 15px;
	box-sizing: border-box;
}

nav ul a{
	text-decoration: none;
	color: white;
	padding: 15px;
	box-sizing: border-box;
}

nav ul li>a:hover{
	text-decoration: none;
	color: white;
	padding: 15px;
	box-sizing: border-box;
}

nav ul a:hover{
	background-color: #676666;
	font-weight: bold;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	color: white;
}

/*Se establece los valores para el submenu de la barra de navegación*/
.submenu{
	top: 52px;
	display: none;
	position: absolute;
	z-index: 1;
	background-color: #B3B3B3;
	min-width: 170px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	opacity: 1;
	border-radius: 5px;
	box-sizing: border-box;
}

.submenu a{
	text-decoration: none;
	color: black;
	padding: 15px;
	text-align:left;
	display: block;
	z-index: 1;
	border-top: solid 1px gray;
}

.submenu a:hover{
	background-color: #676666;
	font-weight: bold;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	color: white;
	z-index: 1;
}

.desplegar:hover .submenu{
	display: block;
	z-index: 1;
}

/*Es una clase la cual organiza los elementos contenidos en forma de fila.*/
.todo{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

/*Se establece la configuración para el tag de seccion*/
section{
	padding:15px;
	width: 70%;
	margin-left: 15%;
	background-color: #FF6C14;
	border-radius: 5px;
	box-sizing: border-box;
}

.seccion{
	display: flex;
	margin: 10px;
	background-color: #FF6C14;
	border-radius: 5px;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 70%;
	box-sizing: border-box;
}

/*Representa la barra lateral que guarda la lista de productos seleccionado.*/
.barra{
	margin: 10px;
	width: 27%;
	border-radius: 5px;
	background-color: black;
	color: #FF6C14;
	padding: 2%;
	box-sizing: border-box;
	font-size: 25px;
	height: 520px;
	overflow: scroll;
}

/*Representa a la barra que se encuentra en el index*/
.barra1{
	margin: 10px;
	width: 27%;
	border-radius: 5px;
	background-color: black;
	color: #FF6C14;
	padding: 2%;
	box-sizing: border-box;
	font-size: 25px;
}

.barra1 a{
	color: #FF6C14;
	text-decoration: none;
}

.barra1 a:hover{
	color: #FF6C14;
	text-decoration: none;
	font-weight: bold;
}

/*Representa eltilo del tag del pie.*/
footer{
	margin-top: 10px;
	background-color: black;
	color: #FF6C14;
	border-radius: 5px;
	margin: 10px;
	padding: 15px;
}

/*Representa un estilo para el control de horario el cual indica si el local se encuentra cerrado*/
#estadoHorario, .estH{
	background-color: black;
	color: #FF6C14;
}

/*Cuadro uno representa un estilo que se le da a un cuadro que se encuentra dentro de la seccion.*/
.cuadroI{
	margin-left: 12.5%;
	width: 75%;
	background-color: #B3B3B3;
	border-radius: 5px;
	padding: 2%;
	color: black;
	box-sizing: border-box;
	overflow: hidden;
}

/*Es exactamente igual que el aterior con diferencia de que tiene un tamaño fijo y y es desborde es de scroll*/
.cuadro2{
	margin-left: 12.5%;
	width: 75%;
	background-color: #B3B3B3;
	border-radius: 5px;
	padding: 2%;
	color: black;
	box-sizing: border-box;
	overflow: hidden;
	height: 500px;
	overflow: scroll;
}

/*Se modifica un estilo de bootstrap*/
#carouselExampleIndicators{
	width: 100%;
}

/*Es un div el cual se utiliza para mostrar información*/
#infor{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

/*Se establese un estilo para los derechos de autor que se enceuntran el pie.*/
#copyr{
	text-align: center;
}

/*Se establece esta clase para poder centrar cualquier texto*/
.centrar{
	text-align:center;
}

/*Se utiliza para cambiar el tamaño de la fuente de los medios de pagos aceptados de forma proporcional al tamaño de la pagina*/
#formasP{
	font-size: 500%;
}

/*Se establese un estilo el cual separa de la parte superiro el contenido se utiliza ya que el encabezado y el nav están fijos.*/
.contenido{
	padding-top: 135px;
}

/*Se utiliza para darle dormato a los hipervinculos del pie de pagina.*/
#hiperPie a{
	text-decoration:none;
	color: gray;
}

#hiperPie a:hover{
	font-weight: bold;
	color: white
}

/*Se utiliza para dar una sombra negra a algún texto*/
.sombra{
	 text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

/*Se utiliza para centrar un video y que no se vea descolocado*/
.video{
	width: 100%;
	display: flex;
	flex-direction: center;
	justify-content: space-around;
}

/*Se utiliza para agrupar elmentos en forma de fila si es necesario.*/
.agruparRow{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

/*Se utiliza para acumodar los hijos directos de esta clase*/
.cuadroI > div{
	margin-top: 15px;
	padding: 15px;
	border: solid black 1px;
	border-radius: 5px;
	overflow: hidden;
}

/*Se utiliza para alinear el contenido en el centro y que tenga un efecto sobre los hipervinculos*/
.alinear{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.alinear a{
	color: black;
	text-decoration: none;
	text-align:center;
}

.alinear a:hover{
	font-weight: bold;
	opacity: 0.9;
}

/*Se utiliza para darle formato a los elementos de un catalgo de productos*/
.catalogo{
	width: 100%;
	background-color: #FFFFFF;
	font-size: 16px;
	padding: 25px;
	text-align: left;
	border-radius: 5px;
	border: solid 1px black;
}

.catalogo:hover{
	box-shadow: 0px 8px 16px 0px rgba(205,108,20,0.5);
	font-weight: bold;
	cursor: pointer;
}

.catalogo label:hover{
	cursor: pointer;
}

.catalogo label img{
	width: 100px;
	height: 75px;
	border-radius: 5px;
}

/*Se le da formato a los botones.*/
.boton{
	width: 100%;
	background-color: #2D6A80;
	color: white;
	display: none;
	border-radius: 5px;
	padding:15px;
	font-size: 14px;
	text-decoration: none;
	box-sizing: border-box;
}

.boton:hover{
	opacity: 0.9;
	font-weight: bold;
	cursor: pointer;
}

.botonVisible{
	display: block;
}

/*SE le aplica un tamaño a los elemetos que tengan esta clase.*/
#listaSeleccionada{
	font-size: 16px;
}

/*Se ke aplica un formato a los cuadros input de la lista seleccionada*/
.listaItem{
	background-color: #DCF8FF;
	margin: 1px;
	padding: 2px;
	width: 40px;
	border-radius: 5px;
}

/*E un estilo para textos que sean instrucciones*/
.instruccion{
	color: #D8F6FC;
	font-size: 13px;
}